{include file="includes/header.html"}
<div class="pilates">
  <img class="img-responsive" src="{$img}{$thisController}/pilates.png" alt="Pilates" />
</div>
<div class="ondeestamos text-left">
  <div class="col-md-6 col-md-offset-6">
    <p class="title cl-verde">Centro de</p>
    <h2 class="cl-verde">Bem Estar em Movimento</h2>
    <p class="cl-white">Nossa casa é um centro de Bem Estar!</p>
    <p class="cl-white">Acreditamos no equilíbrio do corpo junto à natureza, priorizando a necessidade individualizada. Estamos em frente ao Bosque 2, fácil localização e estacionamento. Ar fresco, inspiração e luz natural. Venha conhecer e se surpreender!</p>
    <p class="cl-white">{$endContato} - {$localContato} <a href="https://goo.gl/maps/UE5hw3FgME52" target="_blank" type="button" class="btn btn-home radius-none">Clique aqui para saber como chegar</a></p>
  </div>
</div>
{include file="includes/footer.html"}
