{include file="includes/header.html"}



	<div class="c-content-box c-size-md">
	  	<div class="container">
		    <div class="row margin-botton-30">
		    	<div class="col-sm-6 col-md-8">
		  			<h1>{nocache}Pilates{/nocache}</h1>
		  		</div>
		  		<div class="col-sm-6 col-md-4">
		  			<p class="quote">"Hábitos incorretos são responsáveis pela maioria de nossas doenças, se não por todas elas"<span> Joseph Pilates</span></p>

		  		</div>
		  	</div>
		  	<div class="row">
			    <div class="col-sm-12 col-md-9">
			    	<ul class="c-items">
			    		<li>Inspirado na possibilidade de melhoria de qualidade de vida de seus, alunos, Joseph Pilates desenvolveu sua técnica em meados de 1930 com foco nas aptidões individuais.</li>
			    		<li>O método Pilates se adapta a <b> diferentes níveis de condicionamento físico</b> e ás <b> necessidades específicas de quem o pratica</b>. Com especialidade em Pilates desde 2002, o foco do Studio é: </li>
			    		<li class="evidence">atendimento  terapêutico (dor crônica), correção postural e conscientização corporal</li>
			    		<li>Para isso, nosso Pilates tem suporte de diversos acessórios para compor a atividade de forma satisfatória como rolos, bolas, bosus e flex rings.</li>
                        <li>Venha conhecer nosso espaço e fazer uma aula experimental de Pilates.</li>
			    	</ul>
			    </div>
			    {include file="includes/come_meet_form.html"}
		  	</div>
		</div>
	</div>

	<div class="c-content-box">
	    <div class="c-content-tile-grid c-bs-grid-reset-space" data-auto-height="true">
	        <div class="row">
	            <div class="col-md-6">
	                <div class="row">
	                    <div class="col-sm-6">
                            <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/pilates1.jpg">
	                            <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/pilates1.jpg" alt="">
                            </a>    
	                    </div>
	                    <div class="col-sm-6">
                            <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/pilates2.jpg">
	                           <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/pilates2.jpg" alt="">
                            </a>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6">
	                <div class="row">
	                    <div class="col-sm-6">
                            <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/pilates3.jpg">
	                           <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/pilates3.jpg" alt="">
                            </a>
	                    </div>
	                    <div class="col-sm-6">
	                        <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/pilates4.jpg">
                                <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/pilates4.jpg"  alt="">
	                        </a>
                        </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="c-content-box c-size-md">
	  	<div class="container">



	  	<div class="c-content-team-1-slider">
            <!-- Begin: Title 1 component -->
            <div >
                <h3>Clique sobre as imagens para saber mais</h3>
            </div>
            <!-- End-->
            <div class="row">
                <div class="col-md-4 col-sm-6 c-margin-b-30">
                    <div class="c-content-person-1 c-option-2">
                        <div class="c-caption c-content-overlay">
                            <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/pilates_dor.png">          
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <h1 class="color-white">Alívio de dores</h1>
                                        <ul>
                                            <li>Restabelecimento da função articular</li>
                                            <li>Ganho de força e flexibilidade</li>
                                            <li>Descompressão intervertebral</li>
                                            <li>Reajuste postural</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>    
                            <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/pilates_dor.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 c-margin-b-30">
                    <div class="c-content-person-1 c-option-2">
                        <div class="c-caption c-content-overlay">
                            <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/pilates_tercidade.png">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <h1 class="color-white">Terceira Idade!</h1>
                                        <ul>
                                            <li>Resgate da autoestima</li>
                                            <li>Autonomia</li>
                                            <li>Músculos e ossos fortes</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                            <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/pilates_tercidade.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 c-margin-b-30">
                    <div class="c-content-person-1 c-option-2">
                        <div class="c-caption c-content-overlay">
                            <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/pilates_adolescentes.png">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <h1 class="color-white">Adolescentes e Pré-adolescentes</h1>
                                        <ul>
                                            <li>Orientação às atividades de rotina: sentados na escola, carregando a mochila, usando smartphones, etc</li>
                                            <li>Conscientização Corporal</li>
                                            <li>Reeducação postural</li>
                                            <li>Flexibilidade</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                            <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/pilates_adolescentes.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 c-margin-b-30">
                    <div class="c-content-person-1 c-option-2">
                        <div class="c-caption c-content-overlay">
                            <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/pilates_gravidez.png">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <h1 class="color-white">Gravidez e pós-parto</h1>
                                        <ul>
                                            <li>Fortalecimento preparatório para o bem-estar antes e depois do parto</li>
                                            <li>Reorganização do corpo e da postura</li>
                                            <li>Fortalecimento e reorganização corporal pós-parto</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                            <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/pilates_gravidez.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 c-margin-b-30">
                    <div class="c-content-person-1 c-option-2">
                        <div class="c-caption c-content-overlay">
                            <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/pilates_atletas.png">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <h1 class="color-white">Atletas</h1>
                                        <ul>
                                            <li>Alívio das dores</li>
                                            <li>Prevenção de lesões</li>
                                            <li>Fortalecimento</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                            <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/pilates_atletas.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 c-margin-b-30">
                    <div class="c-content-person-1 c-option-2">
                        <div class="c-caption c-content-overlay">
                            <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/pilates_sedentarios.png">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <h1 class="color-white">Sedentários</h1>
                                        <ul>
                                            <li>Condicionamento sem risco de lesões</li>
                                            <li>Limites e desafios de acordo com o potencial individual</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                            <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/pilates_sedentarios.png" alt="">
                        </div>
                    </div>
                </div>

                <!-- End-->
            </div>
            <!-- End-->
        </div>

	  	</div>
	</div>

{include file="includes/footer.html"}
