{include file="includes/header.html"}

<div class="c-content-box c-size-md">
  	<div class="container">
	    <div class="row margin-botton-30">
	    	<div class="col-sm-6 col-md-12">
	  			<h1>{nocache}Power Plate<span>&#174;</span>{/nocache}</h1>
	  		</div>
	  	</div>
	  	<div class="row">
		    <div class="col-sm-12 col-md-9">
		    	<ul class="c-items">
		    		<li>A tecnologia vibratória foi desenvolvida pela NASA em 2001 para combater a atrofia muscular e perda óssea dos astronautas, causada pela ausência de gravidade a que ficam expostos por longo período no espaço. O Power Plate então foi desenvolvido para levar esse benefício ao público. No Brasil chegou em 2005 e, em Maringá, 2008 através do nosso Studio!</li>
		    		<li class="evidence"><b>Indicado à todas faixas etárias e condicionamentos físico.<br>Adolescentes à adultos, de atletas de alto nível a idosos.</b></li>
		    		<li>Melhora da força muscular e da massa óssea </li>
		    		<li>Os programas de exercício são personalizados de acordo com o grau da musculatura, condicionamento e objetivo de trabalho. </li>
		    	</ul>
		    </div>
		    
			{include file="includes/come_meet_form.html"}
	  	</div>
	  	<div class="row">
		    <div class="col-sm-6 col-md-9">
		    <p class="pading-left-50">Venha conhecer nosso espaço e fazer uma aula experimental de  Power Plate.</p>
		    	<ul class="c-items">
		    		<li>Aumento da densidade óssea: OSTEOPENIA</li>
		    		<li>Melhora imediata da circulação sanguínea</li>
		    		<li>Reduz a celulite</li>
		    		<li>Aumento da força e resistência</li>
		    		<li>Aumento da flexibilidade</li>
		    		<li>Alívio da dor</li>
		    		<li>Queda no cortisol - hormônio relacionado ao stress</li>
		    	</ul>
		    </div>
		    <div class="col-sm-6 col-md-3">
		    	<div class="know-website">
		    		<p>Conheça o site oficial</p>
		    		<p><a href="http://www.powerplate.com" target="_blank">www.powerplate.com</a></p>
		    	</div>
		    </div>
		</div>    
	</div>  
</div>
	
<div class="c-content-box">
    <div class="c-content-tile-grid c-bs-grid-reset-space" data-auto-height="true">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                    	<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/powerplate4.jpg">
                       		<img class="c-overlay-object img-responsive" src="{$img}{$thisController}/powerplate4.jpg" alt="">
                       	</a>	 
                    </div>
                    <div class="col-sm-6">
                    	<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/powerplate3.jpg">
                        	<img class="c-overlay-object img-responsive" src="{$img}{$thisController}/powerplate3.jpg" alt="">
                        </a> 
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                    	<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/powerplate2.jpg">
                        	<img class="c-overlay-object img-responsive" src="{$img}{$thisController}/powerplate2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-6">
                    	<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/powerplate1.jpg">
                        	<img class="c-overlay-object img-responsive" src="{$img}{$thisController}/powerplate1.jpg"  alt="">
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c-content-box c-size-md">
  	<div class="container">
  		<div class="row">
		    <div class="col-sm-6 col-md-6">
               	<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/powerplate_01.png">
				    <img src="{$img}{$thisController}/powerplate_01.png" class="img-responsive">
				</a>
		    </div>
		    <div class="col-sm-6 col-md-6">
		    	<ul class="stretching-text">
		    		<li>As aulas são sessões com alongamento prévio, 20 minutos de exercicios de fortalecimento contemplando todos os grupos musculares e massagem com alongamento para finalização.</li>
		    		<li>Toda atenção é dedicada e o atendimento é individualizado.</li>
		    		<li>Para resultados satisfatórios, recomendamos de 2 a 3 sessões por semana.</li>
		    	</ul>
		    </div>
		</div>    
	</div>	
</div>	
{include file="includes/footer.html"}
