{include file="includes/header.html"}
<div class="c-content-box c-size-md">
  	<div class="container">
	    <div class="row margin-botton-30">
	    	<div class="col-sm-6 col-md-12">
	  			<h1>Quem somos</h1>
	  		</div>
	  	</div>
	  	<div class="row margin-botton-30">
		    <div class="col-sm-12 col-md-6">
          <h3>Sobre Raquel Pagani</h3>
          <p>Fisioterapeuta  graduada pela <a href="http://www.uel.br/" target="_blank" title="Universidade Estadual de Londrina">Universidade Estadual de Londrina</a>, iniciou seus estudos em busca de conhecimento para trabalhar o corpo de forma global, pensando em seu equilíbrio e harmonia.</p>
          <p>Em uma temporada de aprimoramento profissional na França, conheceu e encantou- se com o método RPG (Reeducação Postural Global), criado por <a href="http://rpg-souchard.com/" target="_blank" title="Philippe Souchard">Philippe Souchard</a>, e em 1990 fez sua formação com o próprio Philippe! Trabalhou por anos exclusivamente com o método e em 2001 fez sua formação e certificação com Brent Anderson, do <a href="http://polestarpilates.com/en/" target="_blank" title="Instituto Polestar Pilates">Instituto Polestar Pilates</a>, EUA.</p>
          <p>Desde então, é fã, adepta, instrutora de Pilates e à frente do Studio Raquel Pagani que <b>desde 2002, é pioneiro em Pilates no norte do Paraná</b>.</p>
          <p>Sobre o Studio</p>
          <p>Iniciou suas atividades na Av. Rio Branco e contou com a fisioterapeuta Raquel Pagani e sua equipe formada por 2 instrutores, que desde o começo iniciaram suas atividades alinhados com o ideal da fundadora.</p>
          <p>Hoje conta com um total de <b>9 instrutores</b> altamente especializados e mantemos o ideal desde o começo que é a exigência de alta qualidade no serviço oferecido no atendimento, e foco no tratamento da dor e atividade terapêutica.</p>
          <p>Nossa estrutura tem cerca de 450m², ambientada para proporcionar experiência de bem estar e atendimento. Moderna, superequipada e em um local privilegiado, na <a href="https://goo.gl/maps/zEcZbEdf9Gv" target="_blank" title="Av. Nóbrega, 536 - em frente ao Bosque 2">Av. Nóbrega, 536 - em frente ao Bosque 2</a>. Venha conhecer!</p>




		    	{*<!-- <ul class="c-items">
		    		<li><b>Fundado em 2002</b>, o Studio Raquel Pagani foi pioneiro em Pilates no norte do Paraná. Iniciou suas atividades na Av. Rio Branco e contou com a fisioterapeuta Raquel Pagani e sua equipe formada por 2 instrutores.</li>
		    		<li>Desde então, ingressaram novos instrutores especializados e hoje conta com uma equipe de <b>9 profissionais com excelente formação de base e alinhados com as diretrizes e exigências de qualidade do Studio.</b> </li>
		    		<li>No primeiro endereço ficamos até o início de 2016, quando o sonho não coube mais naquele espaço e cresceu para nossa atual sede, com cerca de 450m², moderna, superequipada na <b>Av. Nóbrega, 536 - em frente ao Bosque 2.</b></li>
		    		<li>A casa mudou, a equipe cresceu, mas a missão permanece:</li>
		    	</ul> -->*}
		    </div>
		    <div class="col-sm-12 col-md-6 padding-top-65">
		    	<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/Raquel_quemsomos.jpg">
		    		<img src="{$img}{$thisController}/Raquel_quemsomos.jpg" class="img-responsive ">
		    	</a>
		    </div>
	  	</div>
	  	<!-- <div class="row">
	    	<div class="col-sm-6 col-md-12">
	  			<p class="commitment">“Comprometimento para com os fundamentos essenciais de reorganização</p>
	  			<p class="commitment">difundidos pelo Pilates para reestruturação do corpo, promovendo</p>
	  			<p class="commitment">bem-estar e qualidade de vida aos seus clientes “</p>
	  		</div>
	  	</div> -->
	</div>
</div>
<div class="c-content-box">
    <div class="c-content-tile-grid c-bs-grid-reset-space" data-auto-height="true">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6 borda">
                    	<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/quemsomos1.jpg">
                        	<img class="c-overlay-object img-responsive " src="{$img}{$thisController}/quemsomos1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-6 borda">
                    	<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/quemsomos2.jpg">
                        	<img class="c-overlay-object img-responsive " src="{$img}{$thisController}/quemsomos2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6 borda">
                        <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/quemsomos3.jpg">
                        	<img class="c-overlay-object img-responsive " src="{$img}{$thisController}/quemsomos3.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-6 borda">
                        <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/quemsomos4.jpg">
                        	<img class="c-overlay-object img-responsive " src="{$img}{$thisController}/quemsomos4.jpg"  alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6 borda">
                    	<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/quemsomos5.jpg">
                        	<img class="c-overlay-object img-responsive " src="{$img}{$thisController}/quemsomos5.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-6 borda">
                    	<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/quemsomos6.jpg">
                        	<img class="c-overlay-object img-responsive " src="{$img}{$thisController}/quemsomos6.jpg"  alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ctozoom">clique nas fotos para ampliar</div>
    </div>
</div>
<div class="c-content-box c-size-md">
	<div class="container">

    <div class="col-sm-12 col-md-6">
      <div class="col-sm-12 col-md-12 member">
            <div class="row">
                <div class="col-sm-3">
                    <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_raquel.png" alt="Raquel Pagani de Mayo">
                </div>
                <div class="col-sm-9">
                    <p class="title-team">Raquel Pagani de Mayo
                      <span>
                        <a href="https://www.facebook.com/raquel.paganidemayo" target="_blank"><img src="{$img}{$thisController}/equipe_social1.png"></a>
                      </span>
                      <span>
                        <a href="https://www.instagram.com/raquelpaganimayo/" target="_blank"><img src="{$img}{$thisController}/equipe_social2.png"></a>
                      </span>
                    </p>
                    <p>Fisioterapeuta (UEL - Universidade Estadual de Londrina) 1984 </p>
                    <p>Formação em RPG (Instituto Philippe Souchard) 1990</p>
                    <p>Formação e Certificação no Método Pilates (PolestarEducation - EUA) 2002 </p>
                    <p>Formação em Power Plate 2008</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 member">
            <div class="row">
                <div class="col-sm-3">
                    <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_cinthya.png" alt="Cinthya Piassi">
                </div>
                <div class="col-sm-9">
                    <p class="title-team">Cinthya Piassi
                      <span>
                        <a href="https://www.facebook.com/cinthya.piassi" target="_blank">
                          <img src="{$img}{$thisController}/equipe_social1.png">
                        </a>
                      </span>
                      <span>
                      <a href="https://www.instagram.com/cinthyapiassi/" target="_blank">
                        <img src="{$img}{$thisController}/equipe_social2.png">
                      </a>
                      </span>
                    </p>
                    <p>Fisioterapeuta (Cesumar) 2001  </p>
                    <p>Pós-Graduacao em Terapia Manual e Osteopatia (Instituto Docusse) 2004 </p>
                    <p>Pós-Graduacao em Terapia Manual (Instituto Salgado) 2002 </p>
                    <p>Formação no Método Pilates (Núcleo Ângela Beatriz Varella) 2009 </p>
                    <p>Formação em Power Plate 2008 </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 member">
            <div class="row">
                <div class="col-sm-3">
                    <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_glisiane.png" alt="Glisiane Sbrana ">
                </div>
                <div class="col-sm-9">
                    <p class="title-team">Glisiane Sbrana
                      <span>
                        <a href="https://www.facebook.com/glisiane.sbrana" target="_blank">
                          <img src="{$img}{$thisController}/equipe_social1.png">
                        </a>
                      </span>
                  </p>
                    <p>Fisioterapeuta (Cesumar) 2001 </p>
                    <p>Reeducação Postural Global pelo Reequilíbrio Proprioceptivo e Muscular (CBF) 2002 </p>
                    <p>Fisioterapia Aplicada Estética Facial e Corporal (Ibrape) 2002 </p>
                    <p>Fisioterapia Aplicada no pré e pós cirurgia plástica 2002 </p>
                    <p>Terapia Manual e Postural Internacional 2003 </p>
                    <p>Shiatsu (Ibrate) 2004 </p>
                    <p>Fisioterapia Dermato funcional (Ibrate) 2004 </p>
                    <p>Power Plate - São Paulo - SP </p>
                    <p>Pilates no Solo (Ibrate) 2009 </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 member">
            <div class="row">
                <div class="col-sm-3">
                    <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_elaine.png" alt="Elaine de O. L. Shiguihara">
                </div>
                <div class="col-sm-9">
                    <p class="title-team">Elaine de O. L. Shiguihara
                      <span>
                        <a href="https://www.instagram.com/elaineshiguihara/" target="_blank">
                          <img src="{$img}{$thisController}/equipe_social2.png">
                        </a>
                      </span>
                    </p>
                    <p>Fisioterapeuta (Universidade do Oeste Paulista)  </p>
                    <p>Formação em RPG "Reeducação postural Global "Philippe' Souchard, com especialização em escoliose </p>
                    <p>Formação completa em Pilates pelo Pilates Institute </p>
                    <p>Formação em Pilates Suspensos pela VOLL Pilates Group </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="col-sm-12 col-md-12 border-left member">
          <div class="row">
              <div class="col-sm-3">
                  <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_aline.png" alt="Aline Bedin">
              </div>
              <div class="col-sm-9">
                  <p class="title-team">Aline Bedin
                    <span>
                      <a href="https://www.facebook.com/aline.bedin.902" target="_blank">
                        <img src="{$img}{$thisController}/equipe_social1.png">
                      </a>
                    </span>
                    <span>
                      <a href="https://www.instagram.com/aobedin" target="_blank">
                        <img src="{$img}{$thisController}/equipe_social2.png">
                      </a>
                    </span>
                  </p>
                  <p>Fisioterapeuta (Cesumar) 2001 </p>
                  <p>Pós-graduação em Terapia Manual e Postural (Instituto Salgado) 2002</p>
                  <p>Reeducação Postural Global (CBF) 2002</p>
                  <p>Pós-graduação em Terapia Manual e Osteopatia (Instituto Docusse) 2005</p>
                  <p>Formação no Método Pilates (Núcleo Angela Beatriz Varella) 2009 </p>
                  <p>Formação em Power Plate 2012</p>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-12 border-left member">
          <div class="row">
              <div class="col-sm-3">
                  <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_lilian.png" alt="Lilian Carreira Gobetti">
              </div>
              <div class="col-sm-9">
                  <p class="title-team">Lilian Carreira Gobetti
                    <span>
                      <a href="https://www.facebook.com/Lilian.Carreira.Gobetti" target="_blank">
                        <img src="{$img}{$thisController}/equipe_social1.png">
                      </a>
                    </span>
                    <span>
                      <a href="https://www.instagram.com/licarreira/" target="_blank">
                        <img src="{$img}{$thisController}/equipe_social2.png">
                      </a>
                    </span>
                  </p>
                  <p>Fisioterapeuta (FEFIL) 2001   </p>
                  <p>Formação em RPG (Instituto Philippe Souchard) 2003  </p>
                  <p>Especialização em Acupuntura (CEATA) 2003  </p>
                  <p>Pós-Graduação em Terapia Manual (Instituto Salgado) 2005 </p>
                  <p>Formação especial em Patologias Cervicais (Instituto Philippe Souchard) 2006 </p>
                  <p>Pós-Graduação em Terapia Manual e Osteopatia (Instituto Docusse) 2009 </p>
                  <p>Formação em Power Plate 2011 </p>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-12 border-left member">
          <div class="row">
              <div class="col-sm-3">
                  <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_marcio.png" alt="Marcio Reis dos Santos">
              </div>
              <div class="col-sm-9">
                  <p class="title-team">Marcio Reis dos Santos
                    <span>
                      <a href="https://www.facebook.com/marcio.santos.9887" target="_blank">
                        <img src="{$img}{$thisController}/equipe_social1.png">
                      </a>
                    </span>
                    <span>
                      <a href="https://www.instagram.com/marcioxc/" target="_blank">
                        <img src="{$img}{$thisController}/equipe_social2.png">
                      </a>
                    </span>
                  </p>
                  <p>Educador Físico (Cesumar) 2003 </p>
                  <p>Pós-Graduação em Personal Training (UEM) 2010 </p>
                  <p>Certificação em Treinador de Ciclismo (Universidade do Esporte de Curitiba) 2004 </p>
                  <p>Formação em Power Plate 2008</p>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-12 border-left member">
          <div class="row">
              <div class="col-sm-3">
                  <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_paulo.png" alt="Paulo Aparecido da Silva ">
              </div>
              <div class="col-sm-9">
                  <p class="title-team">Paulo Aparecido da Silva
                    <span>
                      <a href="https://www.facebook.com/profile.php?id=100003366324254" target="_blank">
                        <img src="{$img}{$thisController}/equipe_social1.png">
                      </a>
                    </span>
                    <span>
                      <a href="https://www.instagram.com/pauloedf2000/" target="_blank">
                        <img src="{$img}{$thisController}/equipe_social2.png">
                      </a>
                    </span>
                  </p>
                  <p>Educador Físico  (Cesumar) 2003  </p>
                  <p>Formação no Método Pilates (Núcleo Angela Beatriz Varella) 2007  </p>
                  <p>Formação em Power Plate 2009  </p>
                  <p>Formação em TRX Suspension Training 2011 </p>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-12 border-left member">
          <div class="row">
              <div class="col-sm-3">
                  <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/equipe/equipe_sthepan.png" alt="Stephan Mazzaro">
              </div>
              <div class="col-sm-9">
                  <p class="title-team">Stephan Mazzaro
                    <span>
                      <a href="https://www.facebook.com/stephan.mazzaro" target="_blank">
                        <img src="{$img}{$thisController}/equipe_social1.png">
                      </a>
                    </span>
                    <span>
                      <a href="https://www.instagram.com/stephan.mazzaro/" target="_blank">
                        <img src="{$img}{$thisController}/equipe_social2.png">
                      </a>
                    </span>
                  </p>
                  <p>Massoterapeuta -  Formação Internacional e Especialista em Terapias Manuais no Japão  </p>
                  <p>Formação Internacional em Seitai, Zenshin, Shiatsu e QuickMassage no Japão  </p>
                  <p>Formação em Reflexologia Podal (pés e mãos) na Tailândia  </p>
                  <p>Formação em curso Técnico em Massoterapia no Instituto Superior de Educação Ágata  </p>
                  <p>Formação em Bases de Quiropraxia pela Faculdade IBRATE • Professor no Instituto Superior de Educação Ágata </p>
              </div>
          </div>
      </div>
    </div>
	</div>
</div>
<div class="c-content-box c-size-md">
	<div class="col-md-12">
		<img src="{$img}{$thisController}/Equipe_foto.jpg" class="img-responsive">
	</div>
</div>
{include file="includes/footer.html"}
