{include file="includes/header.html"}

<div class="c-content-box c-size-md">
  	<div class="container">
	    <div class="row margin-botton-30">
	    	<div class="col-sm-12 col-md-4">
	  			<h1>{nocache}Terapias{/nocache}</h1>
	  		</div>
	  		<div class="col-xs-12 col-md-8">
	  		<ul class="nav navbar-nav navbar-right">

          <li><a href="#drenagem"><b>Drenagem linfática</b></a></li>
          <li><a href="#redux"><b>Lipo redux</b></a></li>
          <li><a href="#osteopatia"><b>Osteopatia</b></a></li>
          <li><a href="#acupuntura"><b>Acupuntura</b></a></li>
          <li><a href="#massoterapia"><b>Massoterapia</b></a></li>
          <li><a href="#rpg"><b>RPG</b></a></li>

        </ul>
        </div>
	  		<!--<div class="col-xs-12 col-md-2">
	  			<p><a href="#drenagem">drenagem linfática</a></p>
	  		</div>
	  		<div class="col-xs-12 col-md-2">
	  			<p><a href="#redux">Lipo redux</a></p>
	  		</div>
	  		<div class="col-xs-12 col-md-2">
	  			<p><a href="#osteopatia">osteopatia</a></p>
	  		</div>
	  		<div class="col-xs-12 col-md-2">
	  			<p><a href="#acupuntura">acupuntura</a></p>
	  		</div>
	  		<div class="col-xs-12 col-md-2">
	  			<p><a href="#massoterapia">massoterapia</a></p>
	  		</div>
	  		<div class="col-xs-12 col-md-2">
	  			<p><a href="#rpg">rpg</a></p>
	  		</div>-->
	  	</div>
	  	<section id="drenagem">
		  	<div class="row">
			    <div class="col-md-12">
			    	<div class="therapies-text">
				    	<p class="therapies-title">Drenagem Linfática</p>
				    	<p>O sistema linfático é a complexa cadeia de vasos que movem os fluidos do corpo e permitem o não acúmulo indevido em certos pontos, como celulite nos glúteos.</p>
				    	<p>A Drenagem linfática estimula esse sistema a trabalhar de forma mais acelerada para que o organismo elimine líquidos e toxinas mais rapidamente e de maneira otimizada promovendo bem-estar imediato e alterações sensíveis longo prazo.</p>
			    	</div>
			    	<div class="col-sm-12 col-md-6 padding-botton-20">
				    	• Elimina o inchaço
			    	</div>
			    	<div class="col-sm-12 col-md-6 padding-botton-20">
			    		• Combate à celulite e gordura localizada
			    	</div>
			    	<div class="col-sm-12 col-md-6 padding-botton-20">
			    		• Desintoxica o organismo
			    	</div>
			    	<div class="col-sm-12 col-md-6 padding-botton-20">
			    		• Ativa o sistema imunológico
			    	</div>
			    	<div>
			    		<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/terapias_drenagem.png">
			    			<img src="{$img}{$thisController}/terapias_drenagem.png" class="img-responsive">
			    		</a>
			    	</div>
			    </div>
		  	</div>
	  	</section>
	  	<section id="redux">
		  	<div class="row border-botton-black">
			    <div class="col-md-12">
			    	<div class="therapies-text">
				    	<p class="therapies-title">Lipo Redux</p>
				    	<p>É um tipo específico de drenagem linfática associada a outras técnicas e tem como objetivo a modelagem corporal, redução de medidas e melhora na circulação sanguínea.</p>
				   </div>
			    </div>
		  	</div>
		</section>
		<section id="osteopatia">
		  	<div class="row border-botton-black">
			    <div class="col-md-12">
			    	<div class="therapies-text">
				    	<p class="therapies-title">Osteopatia</p>
				    	<p>A Osteopatia foi criada pelo Dr. Andrew Taylor-Still (1828-1917), que a partir do estudo das relações entre patologia e sintomas físicos, apresentou os princípios desta medicina natural.</p>
				    	<p>É um tratamento que tem como objetivo eliminar as causas do desequilíbrio da saúde e busca então fortalecer o poder curativo essencial que existe dentro do próprio corpo. É um sistema de cuidados procura descobrir e corrigir o que está estruturalmente incorreto e, assim contribuir para a recuperação da função normal.</p>
				    	<p>Isto é possível através de técnicas essencialmente manuais.  Existem muitos métodos e técnicas, algumas sutis e outras vigorosas utilizadas pelos osteopatas para atingir o objetivo. A Osteopatia é orientada para o paciente e não para a doença.</p>
			    	</div>
			    	<div class="padding-botton-20">
			    		<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/terapias_osteopatia.png">
			    			<img src="{$img}{$thisController}/terapias_osteopatia.png" class="img-responsive">
			    		</a>
			    	</div>
			    </div>
		  	</div>
		</section>
		<section id="acupuntura">
		  	<div class="row border-botton-black">
			    <div class="col-md-12">
			    	<div class="therapies-text">
				    	<p class="therapies-title">Acupuntura</p>
				    	<p>A cura através das agulhas</p>
				    	<p>A acupuntura é uma técnica da medicina chinesa que se baseia na inserção de agulhas em pontos específicos do corpo, que são estimulados ou inibidos conforme a necessidade trabalhando com o equilíbrio energético do organismo. Este processo leva à liberação de substâncias como a endorfina, noradrenalina, promovendo a cura de determinadas doenças e também age prevenindo-as.</p>
				    	<p>O alívio da dor pode ser notado na primeira sessão pois desde a o início já estamos reestabelecendo o equilíbrio do corpo.</p>
			    	</div>
			    	<div class="padding-botton-20">
			    		<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/terapias_acupuntura.png">
			    		<img src="{$img}{$thisController}/terapias_acupuntura.png" class="img-responsive">
			    		</a>
			    	</div>
			    </div>
		  	</div>
	  	</section>
	  	<section id="massoterapia">
		  	<div class="row border-botton-black">
			    <div class="col-md-12">
			    	<div class="therapies-text">
				    	<p class="therapies-title">Massoterapia</p>
				    	<p>Com foco na reoganização postural, nosso serviço de Massoterapia é um planejamento do Stephan Mazzaro, profissional altamente qualificado no Japão e Tailândia.  Atende com um mix de reflexologia, shiatsu e quiropraxia, buscando o bem-estar do paciente. O misto de relaxamento e reorganização postural permite que ao fim dessa sessão terápica você saia leve e melhor disposto. Se presenteie!</p>
			    	</div>
			    	<div class="padding-botton-20">
			    		<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/terapias_massoterapia.png">
			    		<img src="{$img}{$thisController}/terapias_massoterapia.png" class="img-responsive">
			    		</a>
			    	</div>
			    </div>
		  	</div>
	  	</section>
	  	<section id="rpg">
		  	<div class="row padding-botton-20">
			    <div class="col-md-6">
			    	<div class="therapies-text">
				    	<p class="therapies-title">RPG</p>
				    	<p>Você sabe o que é RPG ?</p>
				    	<p>A Reeducação Postural Global (RPG) foi criada em 1980 pelo fisico e fisioterapeuta francês Phillipe Souchard que define o conceito como "uma modelagem humana"</p>
				    	<p>A RPG, segundo o criador, propõe trabalhar toda a cadeia muscular para tratar problemas do paciente , sempre com a visão global do corpo. A essência do tratamento com RPG é a reeducação do corpo. Exemplo: quando sofremos uma contusão, a primeira reação é fazer com que o corpo tente proteger a lesão para não sentirmos dor. Por isso, criamos automaticamente, um mecanismo de compensação para evitar o problema inicial.</p>
				    	<p>O principio basico não visa apenas atender pacientes que estejam sentindo dor, mas também aqueles que buscam encontrar um melhor equilibrio e viver em harmonia com o corpo!</p>
			    	</div>
			    </div>
			    <div class="col-md-6 padding-botton-20">
			    	<a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/terapias_rpg.png">
		    		<img src="{$img}{$thisController}/terapias_rpg.png" class="img-responsive">
		    		</a>
		    	</div>
		  	</div>
	  	</section>
	</div>
</div>

{include file="includes/footer.html"}
