{include file="includes/header.html"}

<div class="c-content-box c-size-md">
  	<div class="container">
	    <div class="row margin-botton-30">
	    	<div class="col-sm-6 col-md-12">
	  			<h1>{nocache}TRX® - Treinamento em Suspensão{/nocache}</h1>
	  		</div>
	  	</div>
	  	<div class="row">
		    <div class="col-sm-12 col-md-9">
		    	<ul class="c-items">
		    		<li>TRX® é um treinamento funcional em suspensão, que trabalha com o peso do corpo.</li>
		    		<li>No Studio Raquel Pagani são duas modalidades:</li>
		    		<li><b>Suspension Training (Treino em suspensão)</b> desenvolve a força, equilíbrio, flexibilidade e estabilidade do core simultaneamente a partir do exercício de peso corporal - foi criado pelas forças especiais da Marinha Americana.</li>
		    		<li><b>Rip Training (Treino com bastão)</b> é um método multifacetado de resistência variável e condicionamento cardiovascular que desafia nos três planos de movimento, em séries. Foi criado originalmente para atender às necessidades dos atletas de esportes de combate e hoje pode ser praticado por todos, pois é adaptado ao peso corporal e força individual.</li>
		    	</ul>
		    </div>
		    {include file="includes/come_meet_form.html"}
	  	</div>
	</div>  
</div>
<div class="c-content-box">
    <div class="c-content-tile-grid c-bs-grid-reset-space" data-auto-height="true">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/trx1.jpg">
                            <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/trx1.jpg" alt=""> 
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/trx2.jpg">
                            <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/trx2.jpg" alt=""> 
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/trx3.jpg">
                            <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/trx3.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="fancy" data-fancybox-group="button" href="{$img}{$thisController}/trx4.jpg">
                            <img class="c-overlay-object img-responsive" src="{$img}{$thisController}/trx4.jpg"  alt=""> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-content-box">
 	<div class="row bg-trx-beneficios-img">
	 	<div class="col-md-6">
	 		<ul class="trx-ul">
	 			<li>Força</li>
	 			<li>Equilíbrio</li>
	 			<li>Flexibilidade</li>
	 		</ul>
	 	</div>
	 	<div class="col-md-6">
	 		<ul class="trx-ul">
	 			<li>Definição muscular</li>
	 			<li>Eficiência</li>
	 			<li>Melhora na postura</li>
	 		</ul>
 		</div>
 	</div>            
</div>

{include file="includes/footer.html"}