<div class="col-sm-12 col-md-3">
	<div class="c-contact c-bg-form-blue">
            <div class="c-content-title-1">
                <p class="c-font-lowercase">Venha conhecer nosso espaço e fazer uma aula experimental de Pilates.</p>
            </div>
            <form action="#">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" placeholder="Telefone"> 
                </div>
                <button type="submit" class="btn btn-default c-bg-form-blue">Enviar</button>
            </form>
        </div>
</div>