</section>
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row footer-list text-left">
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
          <ul>
            <li class="title">Studio Raquel Pagani</li>
            <li><a href="{$rootUrl}/quemsomos/" title="História">História</a></li>
            <li><a href="{$rootUrl}/quemsomos/" title="Equipe">Equipe</a></li>
            <li><a href="{$rootUrl}/quemsomos/" title="Quem somos">Quem somos</a></li>
            <li><a href="{$rootUrl}/contato/" title="Contato">Contato</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
          <ul>
            <li class="title">Serviços</li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates Terapêutico">Pilates Terapêutico</a></li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates para Adolescentes">Pilates para Adolescentes</a></li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates para Gestantes e Pós-parto">Pilates para Gestantes e Pós-parto</a></li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates para Terceira idade">Pilates para Terceira idade</a></li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates para Atletas">Pilates para Atletas</a></li>
            <li><a href="{$rootUrl}/pilates/" title="Pilates para Sedentarismo">Pilates para Sedentarismo</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
          <ul>
            <li class="title"></li>
            <li><a href="{$rootUrl}/powerplate/" title="Power Plate">Power Plate</a></li>
            <li><a href="{$rootUrl}/trx/" title="TRX - Treino em Suspensão">TRX - Treino em Suspensão</a></li>
            <li><a href="{$rootUrl}/terapias/" title="RPG">RPG</a></li>
            <li><a href="{$rootUrl}/terapias/" title="Osteopatia">Osteopatia</a></li>
            <li><a href="{$rootUrl}/terapias/" title="Drenagem Linfática">Drenagem Linfática</a></li>
            <li><a href="{$rootUrl}/terapias/" title="Massoterapia">Massoterapia</a></li>
            <li><a href="{$rootUrl}/terapias/" title="Lipo Redux">Lipo Redux</a></li>
            <li><a href="{$rootUrl}/terapias/" title="Acupuntura">Acupuntura</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
          <ul>
            <li class="title">Social</li>
            <li class="socials">
                <ul>
                  <li><a class="fb" target="_blank" href="https://www.facebook.com/studioraquelpagani/" title="Facebook"><span>Facebook</span></a> </li>
                  <li><a class="ig" target="_blank" href="https://www.instagram.com/studioraquelpagani/" title="Instagram"><span>Instagram</span></a></li>
                  <li><a class="yt" target="_blank" href="https://www.youtube.com/channel/UCZShRAnQbdqsWfVPpdencJQ" title="Youtube"><span>Youtube</span></a></li>
                </ul>
            </li>
            {*<li><a target="_blank" href="https://blograquelpagani.wordpress.com/">Blog do Studio</a></li>*}
            <li><a target="_blank" href="https://www.instagram.com/mercadinhodostudio/">Mercadinho do Studio</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          {if $ambiente == "producao"}
            <div class="fb-page" data-href="https://www.facebook.com/studioraquelpagani/" data-width="290px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/studioraquelpagani/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/studioraquelpagani/">Studio Raquel Pagani</a></blockquote></div>
          {/if}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container text-center">
      <p>{$name} - Todos os Direitos Reservados - 2016/2017 - Maringá - PR</p>
    </div>
  </div>
</footer>
<script type="text/javascript" src="{$rootUrl}/min/g=js?v=2"></script>
{nocache}<div id="alertas"></div>{/nocache}
</div>
</body>
</html>
